<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Administrate orders</title>
</head>
<body>

<table>
  <thead>
  <tr>
    <th>Order ID</th>
    <th>User</th>
    <th>Status</th>
    <th>Update Status</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="order : ${orders}">
    <td th:text="${order.id}"></td>
    <td th:text="${order.user.username}"></td>
    <td th:text="${order.status}"></td>

    <td>
      <form th:action="@{/admin-update-order}" method="post">
        <input type="hidden" th:name="orderId" th:value="${order.id}" />
        <select th:name="status">
          <option th:each="status : ${orderStatuses}" th:value="${status}" th:text="${status}"></option>
        </select>
        <button type="submit">Update</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>

</body>
</html>