<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start</title>
</head>
<body>
    <h2>Search products by name:</h2>
    <form action="#" method="post" th:action="@{/index}" th:object="${searchCriteria}" enctype="multipart/form-data">
        <p>
            <input type="text" th:field="*{name}" placeholder="Enter product name">
            <button type="submit" th:attr="name='searchBtn'" value="search by name">Search</button>
        </p>

    </form>
    <form action="#" method="post" th:action="@{/index}" th:object="${searchCriteria}" enctype="multipart/form-data">
        <select th:field="*{category}">
            <option value="" selected>Select Category</option>
            <option th:each="category : ${categories}" th:value="${category}" th:text="${category.categoryName}"></option>
        </select>

        <button type="submit">Show Category</button>
    </form>

    <h2>Show products by category:</h2>

    <div th:if="${#lists.isEmpty(products)}">
        <p th:text="${message}"></p>
    </div>

    <div th:if="${#lists.size(products) > 0}">
        <h2>Result:</h2>

        <div th:each="product : ${products}">
            <p th:text="${product.name}"></p>

            <img th:if="${product.base64Image != null}" th:src="'data:image/jpeg;base64,' + ${product.base64Image}" alt="Product Image" width="200" height="200"/>

            <p th:text="${product.base64Image != null ? 'Image data is present' : 'No image data'}"></p>

            <p th:text="'Price: ' + ${product.price}"></p>

            <form th:action="@{/add-to-cart}" th:method="post">
                <input type="hidden" th:name="productId" th:value="${product.id}" />
                <button type="submit">Add to Cart</button>
            </form>
        </div>
    </div>




</body>
</html>