<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order successful</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="/js/script.js"></script>
</head>
<body>
<!-- Header -->
<div th:replace="fragments/header :: header"></div>

<div class="order-success-container">
    <h3>Thank you for your order!</h3>

    <table>
        <thead>
        <tr>
            <th>Product Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="orderLine : ${order.orderLines}">
            <td th:text="${orderLine.product.name}"></td>
            <td th:text="${orderLine.product.price}"></td>
            <td th:text="${orderLine.quantity}"></td>
            <td th:text="${orderLine.getPrice()}"></td>
        </tbody>
    </table>
    <h3 th:text="'Total is ' + ${order.totalAmount} + ' kr'"></h3>
</div>


</body>
</html>